.dynamic-spacing {
    padding: 2vh 2vw;
    margin-bottom: 1rem; 
}
.performance-graphs, .recent-activity {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
}

.chart-column-container {
    flex: 1; 
    margin-right: 0.5rem;
}
@media (max-width: 768px) {
    .chart-column-container, .dynamic-spacing {
        padding: 1vh 1vw;
    }

    .performance-graphs, .recent-activity {
        flex-direction: column;
    }

    .chart-column-container {
        margin-right: 0;
    }
}

